<!DOCTYPE html>
<html>
    <head>
        <title>Django Learn blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Learn Blog</a></h1>
        </header>

        <article>
            <time>published: 24.02.2021, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>lalalalalalal alalalalaalaa alalalalaalaa alalalalaalaa
            alalalalaalaa alalalalaalaa alalalalaalaa alalalalaalaaalalalalaalaa 
        alalalalaalaa alalalalaalaaalalalalaalaa alalalalaalaaalalalalaalaa
    alalalalaalaa alalalalaalaaalalalalaalaa alalalalaalaa.</p>
        </article>

        <article>
            <time>published: 24.02.2021, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>lalalalalalal alalalalaalaa alalalalaalaa alalalalaalaa
            alalalalaalaa alalalalaalaa alalalalaalaa alalalalaalaaalalalalaalaa 
        alalalalaalaa alalalalaalaaalalalalaalaa alalalalaalaaalalalalaalaa
    alalalalaalaa alalalalaalaaalalalalaalaa alalalalaalaa.</p>
        </article>
    </body>
</html>